In [ ]:
num = 1 # num변수에 1을 대입합니다.

In [ ]:
num = 3
print(num)

In [ ]:
num1 = 13
num1

In [ ]:
num2 = 25
num2

In [ ]:
num2 = 77
num2

In [ ]:
# type : 변수의 자료형 확인
type(num2)

In [ ]:
num3 = 3.1425
num3

In [ ]:
num4 = 1.25
num4

In [ ]:
num4 = 3.12
num4

In [ ]:
type(num4)

In [ ]:
str1 = "Funny python"
str1

In [ ]:
str2 = 'Easy python'
str2

In [ ]:
type(str2)

In [ ]:
number = 10
Number = 20
print("number :",number)
print("Number :",Number)

In [ ]:
1a = 10

In [ ]:
if = 30
if

In [ ]:
import keyword
keyword.kwlist

In [ ]:
a = 10
b = 15
print(a)
print(b)

In [ ]:
a, b = 10, 15
print(a)
print(b)

In [ ]:
str1 = "python"
str2 = "python"
print(str1)
print(str2)

In [ ]:
str1 = str2 = "python"
print(str1)
print(str2)

In [ ]:
x, y = 100, 200
sum = x + y
print(sum)

In [ ]:
x, y, sum = 100, 200, x+y
print(sum)

In [1]:
sum([1,2,3,4])
# Kernal - Restart & clear Output => 실행 값 초기화(예를 들어 sum 같은 명령어를 변수로 만들었을 경우)

10

In [2]:
'she's gone'

SyntaxError: invalid syntax (4153427454.py, line 1)

In [6]:
s1 = "she's gone"
s2 = "she\'s gone"
print(s1)
print(s2)

she's gone
she's gone

In [7]:
s1 = 'he said that "she is gone"'
s2 = "he said that \"she is gone\""
print(s1)
print(s2)

he said that "she is gone"
he said that "she is gone"

In [8]:
s = "여러줄로 구성된 \n문자열을 하나로 대입할 때"
print(s)

여러줄로 구성된
문자열을 하나로 대입할 때

In [9]:
s = '''여러줄로 구성된
문자열을 하나로
대입할 때'''
print(s)

여러줄로 구성된
문자열을 하나로
대입할 때

In [10]:
s = """여러줄로 구성된
문자열을 하나로
대입할 때"""
print(s)

여러줄로 구성된
문자열을 하나로
대입할 때

In [12]:
s = """여러줄로 구성된
문자열을 \t하나로
대입할 때"""
print(s)

여러줄로 구성된
문자열을 	하나로
대입할 때

In [13]:
s = "My name is SW"

In [19]:
print(s[0])
print(s[-5])
print(s[-2])
print(s[-1])

M
i
S
W

In [20]:
print(s[0:2])
print(s[3:7])
print(s[8:-3])

My
name
is

In [23]:
print(s[8:13])
print(s[-5:])
print(s[8:])

is SW
is SW
is SW

In [25]:
print(s[0:])
print(s)
print(s[:])

My name is SW
My name is SW
My name is SW

In [31]:
s = "2020년 3월 3일의 날씨는 맑음입니다."
print("날짜 :",s[:11])
print("날씨 :",s[-6:-4])

날짜 : 2020년 3월 3일
날씨 : 맑음