# Openweather 첫 화면 실시간 위치 크롤링
- 실시간으로 날짜, 시간, 지역, 날씨, 기온, 체감온도, 강수량, 풍향, 습도, 자외선, 이슬점, 기압
- 이슬점(dew_point) : 일정한 대기압의 공기 중 수증기가 증발하는 동일한 속도로 액상의 물에 응축되는 온도
- 분 단위로 바뀜

In [1]:
# webdriver 버전 맞춰주기
!pip install webdriver-manager

Requirement already satisfied: webdriver-manager in c:\users\ai\anaconda3\lib\site-packages (3.8.4)
Requirement already satisfied: requests in c:\users\ai\anaconda3\lib\site-packages (from webdriver-manager) (2.27.1)
Requirement already satisfied: python-dotenv in c:\users\ai\anaconda3\lib\site-packages (from webdriver-manager) (0.21.0)
Requirement already satisfied: tqdm in c:\users\ai\anaconda3\lib\site-packages (from webdriver-manager) (4.64.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\ai\anaconda3\lib\site-packages (from requests->webdriver-manager) (2021.10.8)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\ai\anaconda3\lib\site-packages (from requests->webdriver-manager) (1.26.9)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\ai\anaconda3\lib\site-packages (from requests->webdriver-manager) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\ai\anaconda3\lib\site-packages (from requests->webdriver-manager) (3.3)
Requirement already satisfied: colorama in c:\users\ai\anaconda3\lib\site-packages (from tqdm->webdriver-manager) (0.4.4)

In [3]:
# from selenium import webdriver as wb

from selenium.webdriver.common.by import By
import time

from selenium import webdriver
from webdriver_manager.chrome import ChromeDriverManager

driver = webdriver.Chrome(ChromeDriverManager().install())

C:\Users\AI\AppData\Local\Temp\ipykernel_30476\1984805095.py:9: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(ChromeDriverManager().install())

In [4]:
# driver = wb.Chrome()
driver.get("https://openweathermap.org/")
time.sleep(1)

In [5]:
table = driver.find_elements(By.CSS_SELECTOR,"#weather-widget > div.section-content > div.grid-container.grid-4-5 > div.current-container.mobile-padding")
table

In [6]:
len(table)

1

In [7]:
table[0].text

'Oct 24, 09:15am\nGwangju, KR\n13°C\nFeels like 11°C. Scattered clouds. Moderate breeze\n5.7m/s NNW\n1021hPa\nHumidity:\n55%\nUV:\n1\nDew point:\n4°C\nVisibility:\n10.0km'

In [8]:
data = table[0].text.split("\n")
data

# 날짜, 시간, 장소, 나라, 현재온도, 체감온도, 날씨, 바람, 풍향풍속, 습도, 자외선, 이슬점

['Oct 24, 09:15am',
 'Gwangju, KR',
 '13°C',
 'Feels like 11°C. Scattered clouds. Moderate breeze',
 '5.7m/s NNW',
 '1021hPa',
 'Humidity:',
 '55%',
 'UV:',
 '1',
 'Dew point:',
 '4°C',
 'Visibility:',
 '10.0km']

In [9]:
import pandas as pd

In [10]:
data = pd.Series(data)
data

0                                       Oct 24, 09:15am
1                                           Gwangju, KR
2                                                  13°C
3     Feels like 11°C. Scattered clouds. Moderate br...
4                                            5.7m/s NNW
5                                               1021hPa
6                                             Humidity:
7                                                   55%
8                                                   UV:
9                                                     1
10                                           Dew point:
11                                                  4°C
12                                          Visibility:
13                                               10.0km
dtype: object

In [11]:
data = pd.DataFrame(data)
data

                                                    0
0                                     Oct 24, 09:15am
1                                         Gwangju, KR
2                                                13°C
3   Feels like 11°C. Scattered clouds. Moderate br...
4                                          5.7m/s NNW
5                                             1021hPa
6                                           Humidity:
7                                                 55%
8                                                 UV:
9                                                   1
10                                         Dew point:
11                                                4°C
12                                        Visibility:
13                                             10.0km

In [17]:
data.shape

(14, 1)

In [21]:
new_data = data.drop([3,4,5,8,9,10,11,12,13])

In [22]:
new_data

                 0
0  Oct 24, 09:15am
1      Gwangju, KR
2             13°C
6        Humidity:
7              55%