In [1]:
import pandas as pd

train = pd.read_csv("./train.csv")
test = pd.read_csv("./test.csv")

In [2]:
print(train.shape)
print(test.shape)

(29305, 16)
(19537, 15)

In [3]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29305 entries, 0 to 29304
Data columns (total 16 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   no              29305 non-null  int64
 1   age             29305 non-null  int64
 2   workclass       29305 non-null  object
 3   fnlwgt          29305 non-null  int64
 4   education       29305 non-null  object
 5   education-num   29305 non-null  int64
 6   marital-status  29305 non-null  object
 7   occupation      29305 non-null  object
 8   relationship    29305 non-null  object
 9   race            29305 non-null  object
 10  sex             29305 non-null  object
 11  capital-gain    29305 non-null  int64
 12  capital-loss    29305 non-null  int64
 13  hours-per-week  29305 non-null  int64
 14  native-country  29305 non-null  object
 15  income          29305 non-null  int64
dtypes: int64(8), object(8)
memory usage: 3.6+ MB

In [4]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19537 entries, 0 to 19536
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   no              19537 non-null  int64
 1   age             19537 non-null  int64
 2   workclass       19537 non-null  object
 3   fnlwgt          19537 non-null  int64
 4   education       19537 non-null  object
 5   education-num   19537 non-null  int64
 6   marital-status  19537 non-null  object
 7   occupation      19537 non-null  object
 8   relationship    19537 non-null  object
 9   race            19537 non-null  object
 10  sex             19537 non-null  object
 11  capital-gain    19537 non-null  int64
 12  capital-loss    19537 non-null  int64
 13  hours-per-week  19537 non-null  int64
 14  native-country  19537 non-null  object
dtypes: int64(7), object(8)
memory usage: 2.2+ MB

In [5]:
train.isnull().sum()

no                0
age               0
workclass         0
fnlwgt            0
education         0
education-num     0
marital-status    0
occupation        0
relationship      0
race              0
sex               0
capital-gain      0
capital-loss      0
hours-per-week    0
native-country    0
income            0
dtype: int64

In [6]:
test.isnull().sum()

no                0
age               0
workclass         0
fnlwgt            0
education         0
education-num     0
marital-status    0
occupation        0
relationship      0
race              0
sex               0
capital-gain      0
capital-loss      0
hours-per-week    0
native-country    0
dtype: int64

In [7]:
train

,no,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,1,25,Private,219199,11th,7,Divorced,Machine-op-inspct,Not-in-family,White,Male,0,0,40,United-States,0
1,2,39,Private,52978,Some-college,10,Divorced,Other-service,Not-in-family,White,Female,0,1721,55,United-States,0
2,3,35,Private,196899,Bachelors,13,Never-married,Handlers-cleaners,Not-in-family,Asian-Pac-Islander,Female,0,0,50,Haiti,0
3,4,64,Private,135527,Assoc-voc,11,Divorced,Tech-support,Not-in-family,White,Female,0,0,40,United-States,0
4,5,24,Private,60783,Some-college,10,Married-civ-spouse,Transport-moving,Husband,White,Male,0,0,70,United-States,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29300,29301,20,Private,100605,HS-grad,9,Never-married,Sales,Own-child,Other,Male,0,0,40,Puerto-Rico,0
29301,29302,21,Private,372636,HS-grad,9,Never-married,Sales,Own-child,Black,Male,0,0,40,United-States,0
29302,29303,18,Self-emp-not-inc,258474,10th,6,Never-married,Farming-fishing,Own-child,White,Male,0,0,40,United-States,0
29303,29304,33,Private,157446,11th,7,Never-married,Craft-repair,Not-in-family,White,Male,0,0,65,United-States,0
29304,29305,65,?,94809,HS-grad,9,Widowed,?,Not-in-family,White,Female,0,0,40,United-States,0

In [8]:
test

,no,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country
0,29306,18,?,245274,Some-college,10,Never-married,?,Own-child,White,Male,0,0,16,United-States
1,29307,29,Private,83003,HS-grad,9,Married-civ-spouse,Other-service,Wife,White,Female,0,0,40,United-States
2,29308,45,Private,35136,Bachelors,13,Married-civ-spouse,Tech-support,Husband,Black,Male,0,0,40,United-States
3,29309,42,Self-emp-not-inc,64631,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States
4,29310,41,Private,195821,Doctorate,16,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,1902,40,United-States
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19532,48838,45,Self-emp-not-inc,116789,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,60,United-States
19533,48839,48,Private,185079,HS-grad,9,Never-married,Exec-managerial,Not-in-family,White,Female,0,0,50,United-States
19534,48840,63,Private,117473,Some-college,10,Married-civ-spouse,Prof-specialty,Husband,White,Male,4386,0,40,United-States
19535,48841,18,Private,150817,11th,7,Never-married,Sales,Own-child,White,Female,0,0,20,United-States
19536,48842,31,Private,341632,Assoc-acdm,12,Married-civ-spouse,Tech-support,Husband,Black,Male,0,0,46,United-States

In [9]:
train.columns

Index(['no', 'age', 'workclass', 'fnlwgt', 'education', 'education-num',
       'marital-status', 'occupation', 'relationship', 'race', 'sex',
       'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
       'income'],
      dtype='object')

# 결측치

### train

- 결측치 확인

In [10]:
train['workclass'].unique()

array([' Private', ' Self-emp-not-inc', ' Local-gov', ' ?', ' State-gov',
       ' Self-emp-inc', ' Federal-gov', ' Without-pay', ' Never-worked'],
      dtype=object)

In [11]:
train['occupation'].unique()

array([' Machine-op-inspct', ' Other-service', ' Handlers-cleaners',
       ' Tech-support', ' Transport-moving', ' Farming-fishing',
       ' Prof-specialty', ' Priv-house-serv', ' Adm-clerical',
       ' Protective-serv', ' Exec-managerial', ' ?', ' Craft-repair',
       ' Sales', ' Armed-Forces'], dtype=object)

In [12]:
train['native-country'].unique()

array([' United-States', ' Haiti', ' Mexico', ' Puerto-Rico',
       ' Philippines', ' ?', ' Germany', ' Peru', ' Ecuador', ' Iran',
       ' Thailand', ' Dominican-Republic', ' Poland', ' Scotland',
       ' Italy', ' Jamaica', ' China', ' Portugal', ' Columbia',
       ' Hungary', ' Vietnam', ' Taiwan', ' Canada', ' Hong',
       ' Guatemala', ' El-Salvador', ' England',
       ' Outlying-US(Guam-USVI-etc)', ' India', ' France', ' Cuba',
       ' Greece', ' Trinadad&Tobago', ' South', ' Japan', ' Yugoslavia',
       ' Nicaragua', ' Ireland', ' Cambodia', ' Laos', ' Honduras',
       ' Holand-Netherlands'], dtype=object)

In [13]:
train["workclass"].value_counts()

 Private             20410
 Self-emp-not-inc     2305
 Local-gov            1868
 ?                    1663
 State-gov            1201
 Self-emp-inc          987
 Federal-gov           854
 Without-pay            12
 Never-worked            5
Name: workclass, dtype: int64

In [14]:
train['occupation'].value_counts()

 Prof-specialty       3724
 Craft-repair         3632
 Exec-managerial      3609
 Adm-clerical         3440
 Sales                3292
 Other-service        2975
 Machine-op-inspct    1811
 ?                    1668
 Transport-moving     1393
 Handlers-cleaners    1249
 Farming-fishing       888
 Tech-support          865
 Protective-serv       603
 Priv-house-serv       146
 Armed-Forces           10
Name: occupation, dtype: int64

In [15]:
train['native-country'].value_counts()

 United-States                 26301
 Mexico                          579
 ?                               495
 Philippines                     178
 Germany                         124
 Puerto-Rico                     117
 Canada                          111
 El-Salvador                      96
 Cuba                             94
 India                            90
 England                          75
 South                            74
 Jamaica                          68
 China                            68
 Dominican-Republic               61
 Italy                            60
 Japan                            54
 Poland                           53
 Columbia                         53
 Guatemala                        51
 Haiti                            51
 Vietnam                          50
 Portugal                         43
 Taiwan                           39
 Iran                             38
 Nicaragua                        28
 Peru                             25
 Greece                           25
 Ireland                          23
 Ecuador                          21
 France                           20
 Cambodia                         19
 Hong                             19
 Thailand                         15
 Outlying-US(Guam-USVI-etc)       15
 Trinadad&Tobago                  13
 Yugoslavia                       13
 Laos                             13
 Hungary                          12
 Honduras                         11
 Scotland                          9
 Holand-Netherlands                1
Name: native-country, dtype: int64

- 결측치 None값으로 변경

In [16]:
train["workclass"] = train["workclass"].replace(" ?", None)
train["occupation"] = train["occupation"].replace(" ?", None)
train["native-country"] = train["native-country"].replace(" ?", None)

In [17]:
train.isnull().sum()

no                   0
age                  0
workclass         1663
fnlwgt               0
education            0
education-num        0
marital-status       0
occupation        1668
relationship         0
race                 0
sex                  0
capital-gain         0
capital-loss         0
hours-per-week       0
native-country     495
income               0
dtype: int64

- 결측치 채우기

In [18]:
train["workclass"] = train["workclass"].fillna(" Private")
train["occupation"] = train["occupation"].fillna(" Prof-specialty")
train["native-country"] = train["native-country"].fillna(" United-States")

### test

- 결측치 확인

In [19]:
test["workclass"].value_counts()

 Private             13496
 Self-emp-not-inc     1557
 Local-gov            1268
 ?                    1136
 State-gov             780
 Self-emp-inc          708
 Federal-gov           578
 Without-pay             9
 Never-worked            5
Name: workclass, dtype: int64

In [20]:
test['occupation'].value_counts()

 Craft-repair         2480
 Exec-managerial      2477
 Prof-specialty       2448
 Sales                2212
 Adm-clerical         2171
 Other-service        1948
 Machine-op-inspct    1211
 ?                    1141
 Transport-moving      962
 Handlers-cleaners     823
 Farming-fishing       602
 Tech-support          581
 Protective-serv       380
 Priv-house-serv        96
 Armed-Forces            5
Name: occupation, dtype: int64

In [21]:
test['native-country'].value_counts()

 United-States                 17531
 Mexico                          372
 ?                               362
 Philippines                     117
 Germany                          82
 Canada                           71
 Puerto-Rico                      67
 India                            61
 El-Salvador                      59
 China                            54
 England                          52
 Italy                            45
 Cuba                             44
 Dominican-Republic               42
 South                            41
 Jamaica                          38
 Japan                            38
 Guatemala                        37
 Vietnam                          36
 Poland                           34
 Columbia                         32
 Taiwan                           26
 Ecuador                          24
 Portugal                         24
 Haiti                            24
 Greece                           24
 Nicaragua                        21
 Peru                             21
 Iran                             21
 France                           18
 Thailand                         15
 Ireland                          14
 Trinadad&Tobago                  14
 Scotland                         12
 Hong                             11
 Laos                             10
 Yugoslavia                       10
 Honduras                          9
 Cambodia                          9
 Outlying-US(Guam-USVI-etc)        8
 Hungary                           7
Name: native-country, dtype: int64

- 결측치 None값으로

In [22]:
test["workclass"] = test["workclass"].replace(" ?", None)
test["occupation"] = test["occupation"].replace(" ?", None)
test["native-country"] = test["native-country"].replace(" ?", None)

- 결측치 채우기

In [23]:
test["workclass"] = test["workclass"].fillna(" Private")
test["occupation"] = test["occupation"].fillna(" Prof-specialty")
test["native-country"] = test["native-country"].fillna(" United-States")

- 범주 묶기

In [24]:
# 묶어서 Others로 바꾸기
title_dic={'United-States':'United-States','Mexico':'Mexico','Philippines':'Philippines', 'Germany':'Germany','Puerto-Rico':'Puerto-Rico', 'Canada':'Canada'}
title_mapping=train['native-country'].map(title_dic)
title_mapping[title_mapping.isnull()]
train['native-country']=title_mapping.fillna("Other")

In [25]:
# 묶어서 Others로 바꾸기
title_dic={'United-States':'United-States','Mexico':'Mexico','Philippines':'Philippines', 'Germany':'Germany','Puerto-Rico':'Puerto-Rico', 'Canada':'Canada'}
title_mapping=test['native-country'].map(title_dic)
title_mapping[title_mapping.isnull()]
test['native-country']=title_mapping.fillna("Other")

# 인코딩

In [26]:
# 인코딩할 컬럼명만 선택
categorical_features = ['workclass', 'education','marital-status', 'occupation', 'relationship', 'race', 'sex', 'native-country']

In [27]:
# 반복문으로 인코딩하기(train)
for feature_name in categorical_features :
    one_hot = pd.get_dummies(train[feature_name], prefix=feature_name)
    train = pd.concat([train,one_hot], axis=1)        # 기존 데이터 끝에 one_hot을 붙임
    train.drop(feature_name, axis=1, inplace=True)   # 기존 글자 컬럼 삭제

In [28]:
# 반복문으로 인코딩하기(test)
for feature_name in categorical_features :
    one_hot = pd.get_dummies(test[feature_name], prefix=feature_name)
    test = pd.concat([test,one_hot], axis=1)        # 기존 데이터 끝에 one_hot을 붙임
    test.drop(feature_name, axis=1, inplace=True)   # 기존 글자 컬럼 삭제

In [29]:
train.shape, test.shape

((29305, 67), (19537, 66))

In [30]:
set(train.columns) - set(test.columns)

{'income'}

In [31]:
# 훈련용 데이터와 테스트 데이터의 인덱스 순서가 다르기 때문에 정렬해주자.
train.sort_index(axis=1, inplace=True)
test.sort_index(axis=1, inplace=True)

In [32]:
train.columns

Index(['age', 'capital-gain', 'capital-loss', 'education-num',
       'education_ 10th', 'education_ 11th', 'education_ 12th',
       'education_ 1st-4th', 'education_ 5th-6th', 'education_ 7th-8th',
       'education_ 9th', 'education_ Assoc-acdm', 'education_ Assoc-voc',
       'education_ Bachelors', 'education_ Doctorate', 'education_ HS-grad',
       'education_ Masters', 'education_ Preschool', 'education_ Prof-school',
       'education_ Some-college', 'fnlwgt', 'hours-per-week', 'income',
       'marital-status_ Divorced', 'marital-status_ Married-AF-spouse',
       'marital-status_ Married-civ-spouse',
       'marital-status_ Married-spouse-absent',
       'marital-status_ Never-married', 'marital-status_ Separated',
       'marital-status_ Widowed', 'native-country_Other', 'no',
       'occupation_ Adm-clerical', 'occupation_ Armed-Forces',
       'occupation_ Craft-repair', 'occupation_ Exec-managerial',
       'occupation_ Farming-fishing', 'occupation_ Handlers-cleaners',
       'occupation_ Machine-op-inspct', 'occupation_ Other-service',
       'occupation_ Priv-house-serv', 'occupation_ Prof-specialty',
       'occupation_ Protective-serv', 'occupation_ Sales',
       'occupation_ Tech-support', 'occupation_ Transport-moving',
       'race_ Amer-Indian-Eskimo', 'race_ Asian-Pac-Islander', 'race_ Black',
       'race_ Other', 'race_ White', 'relationship_ Husband',
       'relationship_ Not-in-family', 'relationship_ Other-relative',
       'relationship_ Own-child', 'relationship_ Unmarried',
       'relationship_ Wife', 'sex_ Female', 'sex_ Male',
       'workclass_ Federal-gov', 'workclass_ Local-gov',
       'workclass_ Never-worked', 'workclass_ Private',
       'workclass_ Self-emp-inc', 'workclass_ Self-emp-not-inc',
       'workclass_ State-gov', 'workclass_ Without-pay'],
      dtype='object')

In [33]:
test.columns

Index(['age', 'capital-gain', 'capital-loss', 'education-num',
       'education_ 10th', 'education_ 11th', 'education_ 12th',
       'education_ 1st-4th', 'education_ 5th-6th', 'education_ 7th-8th',
       'education_ 9th', 'education_ Assoc-acdm', 'education_ Assoc-voc',
       'education_ Bachelors', 'education_ Doctorate', 'education_ HS-grad',
       'education_ Masters', 'education_ Preschool', 'education_ Prof-school',
       'education_ Some-college', 'fnlwgt', 'hours-per-week',
       'marital-status_ Divorced', 'marital-status_ Married-AF-spouse',
       'marital-status_ Married-civ-spouse',
       'marital-status_ Married-spouse-absent',
       'marital-status_ Never-married', 'marital-status_ Separated',
       'marital-status_ Widowed', 'native-country_Other', 'no',
       'occupation_ Adm-clerical', 'occupation_ Armed-Forces',
       'occupation_ Craft-repair', 'occupation_ Exec-managerial',
       'occupation_ Farming-fishing', 'occupation_ Handlers-cleaners',
       'occupation_ Machine-op-inspct', 'occupation_ Other-service',
       'occupation_ Priv-house-serv', 'occupation_ Prof-specialty',
       'occupation_ Protective-serv', 'occupation_ Sales',
       'occupation_ Tech-support', 'occupation_ Transport-moving',
       'race_ Amer-Indian-Eskimo', 'race_ Asian-Pac-Islander', 'race_ Black',
       'race_ Other', 'race_ White', 'relationship_ Husband',
       'relationship_ Not-in-family', 'relationship_ Other-relative',
       'relationship_ Own-child', 'relationship_ Unmarried',
       'relationship_ Wife', 'sex_ Female', 'sex_ Male',
       'workclass_ Federal-gov', 'workclass_ Local-gov',
       'workclass_ Never-worked', 'workclass_ Private',
       'workclass_ Self-emp-inc', 'workclass_ Self-emp-not-inc',
       'workclass_ State-gov', 'workclass_ Without-pay'],
      dtype='object')

# 모델링 - 특성선택

In [34]:
train

,age,capital-gain,capital-loss,education-num,education_ 10th,education_ 11th,education_ 12th,education_ 1st-4th,education_ 5th-6th,education_ 7th-8th,...,sex_ Female,sex_ Male,workclass_ Federal-gov,workclass_ Local-gov,workclass_ Never-worked,workclass_ Private,workclass_ Self-emp-inc,workclass_ Self-emp-not-inc,workclass_ State-gov,workclass_ Without-pay
0,25,0,0,7,0,1,0,0,0,0,...,0,1,0,0,0,1,0,0,0,0
1,39,0,1721,10,0,0,0,0,0,0,...,1,0,0,0,0,1,0,0,0,0
2,35,0,0,13,0,0,0,0,0,0,...,1,0,0,0,0,1,0,0,0,0
3,64,0,0,11,0,0,0,0,0,0,...,1,0,0,0,0,1,0,0,0,0
4,24,0,0,10,0,0,0,0,0,0,...,0,1,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29300,20,0,0,9,0,0,0,0,0,0,...,0,1,0,0,0,1,0,0,0,0
29301,21,0,0,9,0,0,0,0,0,0,...,0,1,0,0,0,1,0,0,0,0
29302,18,0,0,6,1,0,0,0,0,0,...,0,1,0,0,0,0,0,1,0,0
29303,33,0,0,7,0,1,0,0,0,0,...,0,1,0,0,0,1,0,0,0,0
29304,65,0,0,9,0,0,0,0,0,0,...,1,0,0,0,0,1,0,0,0,0

In [35]:
X_train = train.drop(['income', 'fnlwgt'], axis=1)
y_train = train.income
X_test = test.drop('fnlwgt', axis=1)

In [36]:
X_train.shape, y_train.shape

((29305, 65), (29305,))

In [37]:
X_test.shape

(19537, 65)

In [38]:
y_train

0        0
1        0
2        0
3        0
4        1
        ..
29300    0
29301    0
29302    0
29303    0
29304    0
Name: income, Length: 29305, dtype: int64

# 학습

In [39]:
from sklearn.tree import DecisionTreeClassifier

In [40]:
# 모델 생성
tree_model = DecisionTreeClassifier()

In [41]:
# 모델 학습
# 지도학습이므로

tree_model.fit(X_train, y_train)

DecisionTreeClassifier()

In [42]:
tree_pre = tree_model.predict(X_test)

- submission

In [43]:
submission = pd.read_csv('./sample_submission.csv')
submission['income'] = tree_pre

# DecisionTree 튜닝

In [44]:
# 교차검증함수
from sklearn.model_selection import cross_val_score

In [45]:
# random_state는 협업할 때 값 고정 할 때
test_score = []
for d in range(1,30):
    model = DecisionTreeClassifier(max_depth=d, random_state=550)
    result = cross_val_score(model, X_train, y_train, cv=5)
    test_score.append(result.mean())

# 랜덤포레스트

In [46]:
from sklearn.ensemble import RandomForestClassifier

In [47]:
rf_model = RandomForestClassifier(n_estimators=50,   # 배깅할 모델 개수
                                  max_features=0.8,   # 각 모델이 랜덤하게 사용할 특성 수
                                  max_depth=10,        # 각 모델의 최대 깊이
                                  min_samples_leaf=20, # 리프노드의 최소샘플 수
                                  random_state=550    # 난수 고정
                                 )

In [48]:
rf_rs = cross_val_score(rf_model,X_train,y_train,cv=5)
rf_rs

array([0.85633851, 0.86845248, 0.8527555 , 0.85224364, 0.85497355])

## 그리드서치

In [49]:
from sklearn.model_selection import GridSearchCV

In [50]:
# 탐색하고 싶은 하이퍼파라미터 조합을 딕셔너리로 생성
param_grid = {
    'max_depth' : [5,15,25,35],
    'n_estimators' : [30,50,70,90],
    'max_features' : [0.7, 0.9],
    'min_samples_leaf' : [15, 20, 25]
}

In [51]:
model = RandomForestClassifier(random_state=550)
# 튜닝할 모델, 사용할 파라미터, 교차검증 횟수
grid = GridSearchCV(model, param_grid, cv=3, n_jobs=-1)

In [52]:
grid.fit(X_train,y_train)

GridSearchCV(cv=3, estimator=RandomForestClassifier(random_state=550),
             n_jobs=-1,
             param_grid={'max_depth': [5, 15, 25, 35],
                         'max_features': [0.7, 0.9],
                         'min_samples_leaf': [15, 20, 25],
                         'n_estimators': [30, 50, 70, 90]})

In [53]:
# 최고의 조합 확인
grid.best_params_

{'max_depth': 15,
 'max_features': 0.9,
 'min_samples_leaf': 15,
 'n_estimators': 90}

In [54]:
# 최고 점수 확인
grid.best_score_

0.8581469524503612

In [55]:
# 최고 조합으로 학습완료된 모델
best_model = grid.best_estimator_

In [56]:
pre = best_model.predict(X_test)

In [57]:
submission['income'] = pre
submission.to_csv("./rf_pre2.csv", index=False)

In [58]:
submission

          no  income
0      29306       0
1      29307       0
2      29308       1
3      29309       1
4      29310       1
...      ...     ...
19532  48838       0
19533  48839       0
19534  48840       0
19535  48841       0
19536  48842       0

[19537 rows x 2 columns]